In [27]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [28]:
# Initialize browser
browser = Browser('chrome')

In [29]:
# List of NFL teams
teams = ['arizona-cardinals', 'atlanta-falcons', 'baltimore-ravens', 
         'buffalo-bills', 'carolina-panthers', 'chicago-bears', 
         'cincinnati-bengals', 'cleveland-browns', 'dallas-cowboys', 
         'denver-broncos', 'detroit-lions', 'green-bay-packers', 
         'houston-texans', 'indianapolis-colts', 'jacksonville-jaguars', 
         'kansas-city-chiefs', 'las-vegas-raiders', 'san-diego-chargers', 
         'st-louis-rams', 'miami-dolphins', 'minnesota-vikings', 
         'new-england-patriots', 'new-orleans-saints', 'new-york-giants', 
         'new-york-jets', 'philadelphia-eagles', 'pittsburgh-steelers', 
         'san-francisco-49ers', 'seattle-seahawks', 'tampa-bay-buccaneers', 
         'tennessee-titans', 'washington-football-team']
all_data = []

In [31]:
for year in range(2011, 2023):
    
    if year >= 2016:
        teams = [team if team != "st-louis-rams" else "los-angeles-rams" for team in teams]
        
    if year >= 2017:
        teams = [team if team != "san-diego-chargers" else "los-angeles-chargers" for team in teams]

    for team in teams:
        # Visit the page
        url = f"https://www.spotrac.com/nfl/{team}/cap/{year}"
        browser.visit(url)

        # Create BeautifulSoup object; parse with 'html.parser'
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')

        # Find the correct table with Active Players
        all_tables = soup.find_all('table')
        active_table = None
        for table in all_tables:
            ths = table.find_all('th')
            for th in ths:
                if 'Active Players' in th.text:
                    active_table = table
                    break
            if active_table is not None:
                break

        # Retrieve all elements that contain player salary information
        players = active_table.find_all('tr')

        # Iterate through each player
        for player in players:
            # Use Beautiful Soup's find() method to navigate and retrieve attributes
            name_tag = player.find('td', class_='player')
            if name_tag is not None:
                a_tag = name_tag.find('a')
                if a_tag is not None:
                    name = a_tag.text
                    # Find all td tags within the player's row
                    all_tds = player.find_all('td')
                    if len(all_tds) >= 12:  # There should be at least 12 td tags if the player row is valid
                        position = all_tds[1].find('span').text
                        cap_hit = all_tds[2].find('span').text.strip()
                        cap_percentage = all_tds[11].text.strip()
                        
                        player_data = {
                            "year": year,
                            "team": team,
                            "name": name,
                            "position": position,
                            "cap_hit": cap_hit,
                            "cap_percentage": cap_percentage
                        }
                        all_data.append(player_data)

# Convert to a DataFrame and export to a csv file
df = pd.DataFrame(all_data)

# Reset the index to start from 1 and name the index column as "index"
df.index = df.index + 1
df.index.name = "index"

# Write DataFrame to CSV file
#df.to_csv("nfl_salaries.csv")

In [32]:
import json

# Your existing code to create the 'all_data' array of objects

# Convert 'all_data' to JSON format
json_data = json.dumps(all_data)

# Specify the file path for the JSON file
json_file_path = "data.json"

# Write the JSON data to the file
with open(json_file_path, 'w') as json_file:
    json_file.write(json_data)

In [74]:
df.tail(60)

,year,team,name,position,cap_hit,cap_percentage
index,,,,,,
20609,2022,[Tennessee ],Daniel Munyer,C,"$965,000",0.08
20610,2022,[Tennessee ],Julius Chestnut,RB,"$705,000",0.07
20611,2022,[Tennessee ],Joshua Dobbs,QB,"$1,035,000",0.07
20612,2022,[Tennessee ],Xavier Newman-Johnson,G,"$705,000",0.06
20613,2022,[Tennessee ],Andre Smith,ILB,"$1,035,000",0.05
20614,2022,[Tennessee ],Jonathan Ward,RB,"$895,000",0.05
20615,2022,[Tennessee ],Mike Brown,S,"$705,000",0.02
20616,2022,[Washington ],Carson Wentz,QB,"$22,000,001",13.22
20617,2022,[Washington ],Curtis Samuel,WR,"$8,500,000",5.90
20618,2022,[Washington ],Kendall Fuller,CB,"$8,000,000",5.20
20619,2022,[Washington ],Jonathan Allen,DT,"$2,000,000",4.44
20620,2022,[Washington ],Chase Young,DE,"$3,752,145",4.40
20621,2022,[Washington ],Daron Payne,DT,"$8,529,000",3.99
20622,2022,[Washington ],Charles Leno,LT,"$1,250,000",3.97
20623,2022,[Washington ],Terry McLaurin,WR,"$1,054,000",3.43
20624,2022,[Washington ],Logan Thomas,TE,"$3,990,000",2.89
20625,2022,[Washington ],Wes Schweitzer,G,"$4,490,000",2.72
20626,2022,[Washington ],Montez Sweat,DE,"$2,082,444",1.73
20627,2022,[Washington ],Taylor Heinicke,QB,"$1,500,000",1.58
20628,2022,[Washington ],Tress Way,P,"$2,335,000",1.44
20629,2022,[Washington ],Trai Turner,G,"$1,120,000",1.40
20630,2022,[Washington ],Bobby McCain,S,"$1,200,000",1.30
20631,2022,[Washington ],Andrew Norwell,G,"$1,200,000",1.30
20632,2022,[Washington ],Jahan Dotson,WR,"$705,000",1.28
20633,2022,[Washington ],Cornelius Lucas,LT,"$1,120,000",1.25
20634,2022,[Washington ],Cam Sims,WR,"$1,000,000",1.20
20635,2022,[Washington ],Joey Slye,K,"$1,010,000",0.93
20636,2022,[Washington ],Samuel Cosmi,RT,"$961,162",0.70
20637,2022,[Washington ],Dyami Brown,WR,"$884,727",0.53
20638,2022,[Washington ],Efe Obada,DE,"$1,035,000",0.49
20639,2022,[Washington ],John Bates,TE,"$825,000",0.47
20640,2022,[Washington ],Jeremy Reaves,S,"$965,000",0.45
20641,2022,[Washington ],Kamren Curl,S,"$895,000",0.43
20642,2022,[Washington ],James Smith-Williams,DE,"$895,000",0.43
20643,2022,[Washington ],Jonathan Williams,RB,"$1,035,000",0.43
20644,2022,[Washington ],Darrick Forrest,S,"$825,000",0.42
20645,2022,[Washington ],Percy Butler,S,"$705,000",0.42
20646,2022,[Washington ],David Mayo,OLB,"$1,035,000",0.42
20647,2022,[Washington ],Casey Toohill,DE,"$895,000",0.42
20648,2022,[Washington ],Camaron Cheeseman,LS,"$825,000",0.40
20649,2022,[Washington ],Brian Robinson,RB,"$643,889",0.40
20650,2022,[Washington ],Shaka Toney,DE,"$825,000",0.40
20651,2022,[Washington ],Dax Milne,WR,"$825,000",0.39
20652,2022,[Washington ],Rachad Wildgoose,CB,"$825,000",0.39
20653,2022,[Washington ],Nick Martin,C,"$1,035,000",0.37
20654,2022,[Washington ],Sam Howell,QB,"$705,000",0.37
20655,2022,[Washington ],Cole Turner,TE,"$705,000",0.37
20656,2022,[Washington ],Chris Paul,G,"$705,000",0.34
20657,2022,[Washington ],Christian Holmes,CB,"$705,000",0.34
20658,2022,[Washington ],John Ridgeway,DT,"$626,672",0.29
20659,2022,[Washington ],Armani Rogers,TE,"$598,059",0.28
20660,2022,[Washington ],Khaleke Hudson,LB,"$895,000",0.28
20661,2022,[Washington ],Danny Johnson,CB,"$1,035,000",0.26
20662,2022,[Washington ],Milo Eifler,LB,"$537,221",0.25
20663,2022,[Washington ],Wes Martin,G,"$965,000",0.08
20664,2022,[Washington ],David Bada,DT,"$705,000",0.04
20665,2022,[Washington ],Nate Gerry,OLB,"$57,500",0.03
20666,2022,[Washington ],Jaret Patterson,RB,"$825,000",0.02
20667,2022,[Washington ],Alex Akingbulu,T,"$705,000",0.02
20668,2022,[Washington ],Benning Potoa'e,DE,"$705,000",0.02

In [34]:
# Close the browser
browser.quit()

In [76]:
df['cap_percentage'] = df['cap_percentage'].astype(float)

idx = df.groupby(['year', 'team'])['cap_percentage'].idxmax()

# Create a new DataFrame with the rows that correspond to the highest salary in each group
highest_salary_df = df.loc[idx]


# Display the new DataFrame
highest_salary_df

TypeError: unhashable type: 'list'

In [78]:
json_file = "data.json"

# Read the JSON file and create a DataFrame
df = pd.read_json(json_file)

# Display the DataFrame to verify the data
df

,year,team,name,position,cap_hit,cap_percentage
0,2011,arizona-cardinals,Larry Fitzgerald,WR,"$2,000,000",13.28
1,2011,arizona-cardinals,Levi Brown,LT,"$6,777,500",7.70
2,2011,arizona-cardinals,Adrian Wilson,S,"$3,500,000",6.17
3,2011,arizona-cardinals,Darnell Dockett,DE,"$2,350,000",4.58
4,2011,arizona-cardinals,Derek Anderson,QB,"$4,087,500",4.40
...,...,...,...,...,...,...
20663,2022,washington-football-team,David Bada,DT,"$705,000",0.04
20664,2022,washington-football-team,Nate Gerry,OLB,"$57,500",0.03
20665,2022,washington-football-team,Jaret Patterson,RB,"$825,000",0.02
20666,2022,washington-football-team,Alex Akingbulu,T,"$705,000",0.02
20667,2022,washington-football-team,Benning Potoa'e,DE,"$705,000",0.02

In [82]:
df['cap_percentage'] = df['cap_percentage'].astype(float)

idx = df.groupby(['year', 'team'])['cap_percentage'].idxmax()

# Create a new DataFrame with the rows that correspond to the highest salary in each group
highest_salary_df = df.loc[idx]

# Reset the index of the new DataFrame
highest_salary_df = highest_salary_df.reset_index(drop=True)

def clean_team_name(team):
    parts = team.split('-')
    city_name = parts[:-1]
    if city_name[-1] == 'football':
        city_name = city_name[:-1]
    return ' '.join(word.title() for word in city_name)

# Apply the custom function to the 'team' column in highest_salary_df
highest_salary_df['team'] = highest_salary_df['team'].apply(clean_team_name)

# Display the new DataFrame
highest_salary_df.head(60)

,year,team,name,position,cap_hit,cap_percentage
0,2011,arizona,Larry Fitzgerald,WR,"$2,000,000",13.28
1,2011,atlanta,Matt Ryan,QB,"$11,250,000",11.01
2,2011,baltimore,Terrell Suggs,OLB,"$3,400,000",7.94
3,2011,buffalo,Ryan Fitzpatrick,QB,"$3,220,000",4.02
4,2011,carolina,Jordan Gross,LT,"$6,000,000",8.12
5,2011,chicago,Brian Urlacher,LB,"$8,025,000",9.23
6,2011,cincinnati,Andre Smith,G,"$1,677,500",6.42
7,2011,cleveland,Joe Thomas,LT,"$8,000,000",12.34
8,2011,dallas,Terence Newman,CB,"$8,000,000",7.27
9,2011,denver,Elvis Dumervil,OLB,"$14,000,000",10.67
10,2011,detroit,Calvin Johnson,WR,"$8,875,000",11.65
11,2011,green bay,Charles Woodson,SS,"$7,850,000",7.00
12,2011,houston,Mario Williams,DE,"$13,800,000",13.46
13,2011,indianapolis,Dwight Freeney,OLB,"$11,420,000",13.36
14,2011,jacksonville,Maurice Jones-Drew,RB,"$4,050,000",3.96
15,2011,kansas city,Tyson Jackson,DE,"$1,790,000",7.85
16,2011,las vegas,Derek Carr,QB,"$19,900,000",11.66
17,2011,miami,Jake Long,LT,"$11,200,000",9.90
18,2011,minnesota,Adrian Peterson,RB,"$8,250,000",10.59
19,2011,new england,Tom Brady,QB,"$5,750,000",10.19
20,2011,new orleans,Drew Brees,QB,"$7,393,500",10.09
21,2011,new york,Eli Manning,QB,"$8,500,000",11.61
22,2011,new york,Mark Sanchez,QB,"$14,225,000",13.40
23,2011,philadelphia,Michael Vick,QB,"$10,000,000",10.97
24,2011,pittsburgh,Ben Roethlisberger,QB,"$6,000,000",9.36
25,2011,san diego,Philip Rivers,QB,"$8,400,000",11.22
26,2011,san francisco,Justin Smith,DE,"$5,000,000",6.17
27,2011,seattle,Russell Okung,LT,"$1,400,000",6.28
28,2011,st louis,Sam Bradford,QB,"$450,000",10.06
29,2011,tampa bay,Davin Joseph,G,"$9,500,000",6.60
30,2011,tennessee,Chris Hope,S,"$6,500,000",6.23
31,2011,washington,Josh Norman,CB,"$10,800,000",7.36
32,2012,arizona,Larry Fitzgerald,WR,"$5,000,000",12.02
33,2012,atlanta,Matt Ryan,QB,"$11,500,000",11.19
34,2012,baltimore,Terrell Suggs,OLB,"$4,900,000",9.55
35,2012,buffalo,Mario Williams,DE,"$5,900,000",8.13
36,2012,carolina,Jordan Gross,LT,"$8,500,000",9.54
37,2012,chicago,Julius Peppers,DE,"$8,900,000",10.10
38,2012,cincinnati,Leon Hall,CB,"$1,600,000",7.05
39,2012,cleveland,Joe Thomas,LT,"$10,500,000",11.24
40,2012,dallas,Anthony Spencer,OLB,"$8,856,000",7.34
41,2012,denver,Peyton Manning,QB,"$18,000,000",14.93
42,2012,detroit,Calvin Johnson,WR,"$1,250,000",9.74
43,2012,green bay,Charles Woodson,SS,"$6,500,000",9.17
44,2012,houston,Matt Schaub,QB,"$4,400,000",9.25
45,2012,indianapolis,Dwight Freeney,OLB,"$14,035,000",15.78
46,2012,jacksonville,Marcedes Lewis,TE,"$4,200,000",7.26
47,2012,kansas city,Tamba Hali,OLB,"$11,250,000",11.99
48,2012,las vegas,Derek Carr,QB,"$19,900,000",11.66
49,2012,miami,Karlos Dansby,ILB,"$8,800,000",9.39
50,2012,minnesota,Jared Allen,DE,"$11,619,850",11.94
51,2012,new england,Wes Welker,WR,"$9,515,000",7.89
52,2012,new orleans,Drew Brees,QB,"$3,000,000",8.62
53,2012,new york,Chris Snee,G,"$5,700,000",8.29
54,2012,new york,David Harris,ILB,"$9,900,000",9.95
55,2012,philadelphia,Michael Vick,QB,"$12,500,000",11.53
56,2012,pittsburgh,Troy Polamalu,S,"$6,250,000",7.58
57,2012,san diego,Philip Rivers,QB,"$10,200,000",12.69
58,2012,san francisco,Patrick Willis,ILB,"$1,904,000",14.74
59,2012,seattle,Russell Okung,LT,"$6,480,000",7.43

In [47]:
csv_file = "nfl_win_loss_records_2019_to_2022.csv"

# Read the CSV file and create a DataFrame
win_loss = pd.read_csv(csv_file)

# Display the first few rows of the DataFrame to verify the data
print(win_loss.head(50))

    Year           Team  Win  Loss  Tie
0   2019      Baltimore   14     3    0
1   2019  San Francisco   15     4    0
2   2019    Kansas City   15     4    0
3   2019      Green Bay   14     4    0
4   2019    New Orleans   13     4    0
5   2019    New England   12     5    0
6   2019        Seattle   12     6    0
7   2019      Minnesota   11     7    0
8   2019        Houston   11     7    0
9   2019        Buffalo   10     7    0
10  2019      Tennessee   11     8    0
11  2019        LA Rams    9     7    0
12  2019   Philadelphia    9     8    0
13  2019         Dallas    8     8    0
14  2019     Pittsburgh    8     8    0
15  2019        Chicago    8     8    0
16  2019        Atlanta    7     9    0
17  2019      Las Vegas    7     9    0
18  2019      Tampa Bay    7     9    0
19  2019         Denver    7     9    0
20  2019        NY Jets    7     9    0
21  2019   Indianapolis    7     9    0
22  2019      Cleveland    6    10    0
23  2019   Jacksonville    6    10    0
24  2019        Arizona    5    10    1
25  2019    LA Chargers    5    11    0
26  2019          Miami    5    11    0
27  2019       Carolina    5    11    0
28  2019      NY Giants    4    12    0
29  2019        Detroit    3    12    1
30  2019     Washington    3    13    0
31  2019     Cincinnati    2    14    0
32  2020    Kansas City   16     3    0
33  2020        Buffalo   15     4    0
34  2020      Green Bay   14     4    0
35  2020      Tampa Bay   15     5    0
36  2020    New Orleans   13     5    0
37  2020        Seattle   12     5    0
38  2020     Pittsburgh   12     5    0
39  2020      Baltimore   12     6    0
40  2020      Cleveland   12     6    0
41  2020   Indianapolis   11     6    0
42  2020      Tennessee   11     6    0
43  2020          Miami   10     6    0
44  2020        LA Rams   11     7    0
45  2020      Las Vegas    8     8    0
46  2020        Arizona    8     8    0
47  2020        Chicago    8     9    0
48  2020      Minnesota    7     9    0
49  2020    LA Chargers    7     9    0